* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 2rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: #2dccdb;
    color: rgb(10, 9, 9);
}

.nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: rgb(11, 9, 9);
    transition: 0.3s;
}

.nav a:hover {
    color: #ff7033;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.highlight {
    color: #ff5733;
}

.btn {
    padding: 0.7rem 1.5rem;
    background: #2dccdb;
    border: none;
    color: rgb(15, 14, 14);
    cursor: pointer;
    transition: transform 0.25s ease;

}

.btn:hover {
    transform: rotate(360deg);
}

/* Keyframe animation */
.animated-text {
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    from { color: #ff5733; }
    to { color: #0099ff; }
}
.skills-grid,
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #ffe6e6;
}
/* Mobile view */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        width: 80%;
        margin-top: 2rem;
    }

    body {
        padding: 0 1rem;
    }
}


